.header
{
    margin-top: 5px;
    width: 100%;
    /*background-color: rgba(158, 154, 156, 0.9);*/
    color: black;
    font-size: 25px;
    text-align: center;
}
.btnArea
{
    margin-top: 5px;
    margin-bottom: 5px;
   width: 100%;
   background-color: hsla(257, 9%, 16%, 0.932);
   color: black;
   text-align: center;
}

.mainArea
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    

}


.footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(140, 177, 207);
    color: black;
    text-align: center;
}

.sirtLogo
{
    height: 70px;
    widows: 70px;
}

body
{
     
    background-color: rgba(143, 143, 151, 0.87)
}

.bt
{
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    color: mediumturquoise;

}